<div class="container">
  <div class="main">
    <div class="head">Adventure Activities</div>
  </div>

  <div class="big">
    <div class="small">
      <h1>Paragliding</h1>
      <p>
        First you have to take the parachute to the hill where you will make
        your jump. Be aware that the weight of parachute can vary between 6-15
        kg. When you climb up the hill, all you need is a paragliding wing. As
        the paragliding pilot, you should be careful to make sure that the field
        is not obstructed by anything such as trees or structures. The
        paragliding pilot should run down the hill, and there is no need to run
        too fast because the wind will help enough already. The type of sports
        parachute used in paragliding is designed for easier take off and
        landing. It is always a better choice to learn from someone prevalent in
        the sports. And thanks to the paragliding courses in various places, you
        can easily bring this extreme sport to your life.
      </p>
    </div>
    <div class="small">
      <img src="https://visitsrilanka.live/images/paragliding.jpg" alt="abc" />
    </div>
  </div>

  <div class="big">
    <div class="small">
      <img src="https://visitsrilanka.live/images/helicopter.jpg" alt="abc" />
    </div>

    <div class="small">
      <h1>Helicopter Tours</h1>
      <p>
        Whether You In A Packed Schedule Or Hate Wasting Time On The Road Or
        Simply Like To Indulge Yourself In Luxury And Scenery, Helicopter
        Transportation Is For You. When You Travel By Air Your Transfers Will
        Get Faster, More Comfortable And Interesting. As You Can Find Several
        Helicopter Transfer Services Such As Air Taxi, Heli Tours, Cosmos
        Aviation, Deccan Aviation, Cinnamon Air And Air Senok, You Have Options
        To Choose From. Now You Can Fly From Bandaranaike International Airport
        To Colombo City (Waters Edge, Kotte), Bentota, Dickwella, Koggala,
        Kandy, Castlereagh, Sigiriya, Batticaloa And Trincomalee And More Within
        Minutes.
      </p>
    </div>
  </div>

  <div class="big">
    <div class="small">
      <h1>Hot Air Ballooning</h1>
      <p>
        Why Not Enjoy This Beautiful Paradise In The Bird's Eye View Floating
        Over The Thick Dense Forests, Lush Paddy Fields And Famous Landmarks
        From The Sky! Sign Up For A Balloon Ride In Your Holiday In Sri Lanka
        And You'll Be Delighted By The Surprises Waiting For You. November To
        May, The Low Wind Season Is The Best Time For Hot Air Ballooning In Sri
        Lanka Although March To April Offers The Best Favourable Weather For The
        Activity. Kandalama Lake In Dambulla Is Where You Should Head To In
        Early In The Morning For An Air Ballooning Session. The Ride Starts
        Before The Dawn Promising You A Mind-Blowing Sunrise And Breathtaking
        Scenery Of The Island From Above.
      </p>
    </div>
    <div class="small">
      <img src="https://visitsrilanka.live/images/balloon.jpg" alt="abc" />
    </div>
  </div>

  <div class="big">
    <div class="small">
      <img src="https://visitsrilanka.live/images/safa2.jpg" alt="abc" />
    </div>

    <div class="small">
      <h1>Wild Life Safari</h1>
      <p>
        With A Wildlife Abundance Rich In Diversity And Quantity, Sri Lanka
        Promises You The Sights Of Wildlife In Each And Every Safari Ride.
        Elephants, Leopards, Deer, Jackal, Wild Boar, Peacock And Many Other
        Varieties Of Birds And Insects Are Common Sights To See On A Safari
        Ride. Yala National Park Is Where You Should Head To Spot Leopards While
        Minneriya National Park Is Where The World Largest Asian Elephant
        Gathering Happens. Wilpaththu, Wasgamuwa, Udawalewe Are Some Other
        National Parks Offer You The Best View Of Wildlife. The Dry Season From
        May To October Is The Best Time To Go On A Safari.
      </p>
    </div>
  </div>

  <div class="big">
    <div class="small">
      <h1>Diving</h1>
      <p>
        Get Lost In A World Of Calm And Serenity Filled With Pristine Beauty Of
        The Marine World With An Unforgettable Diving Session In Sri Lanka. With
        A Reputation Of Having Few Of The Most Beautiful Coral Formations In
        S.E. Asia, Sri Lanka Has Several Diving Spots Around The Island For An
        Unforgettable Diving Tour. The Diversity Of Corals Saturated With
        Vibrant Colours And Clouds Of Fishes Swimming Among The Reefs Along With
        Few Shop Wrecks Is A Scenery That Can Take Your Breath Way. Hikkaduwa,
        Nilaveli, Trincomalee, Pigeon Island And Weligama Are Some Of The
        Popular Attractions In Sri Lanka For Diving. From November To April Is
        The Best Time To Dive In The West Coast While Waters Are Ideal For
        Diving From April To September On The East Coast.
      </p>
    </div>
    <div class="small">
      <img src="https://visitsrilanka.live/images/diving.jpg" alt="abc" />
    </div>
  </div>

  <div class="big">
    <div class="small">
      <img src="https://visitsrilanka.live/images/surfing.jpg" alt="abc" />
    </div>

    <div class="small">
      <h1>Surfing</h1>
      <p>
        Being Popular Among Surfers Around The World, Sri Lanka Has A Great
        Reputation When It Comes To Surfing. Arugambay Is The Number One
        Location To Ride Some Waves In Sri Lanka And April To October Is The
        Best Time For A Surfing Session In The Place. Not Just Surfers, Kite
        Surfers And Windsurfers Also Fall In Love With Sri Lanka. Kalpitiya Is
        The Beach You Should Head To, For Kite Surfing While Tangalle, Polhena,
        Weligama, Bentota, Hikkaduwa, Matara, Nilaveli And Trincomalee Are Some
        Of The Beaches Ideal For Windsurfing And Surfing Alike. With A Number Of
        Surfboard And Equipment Rental Shops Near The Beaches, All You Have To
        Do Is Reserve Your Time And Everything Else Can Be Figured Out Once You
        Are At The Beach.
      </p>
    </div>
  </div>
</div>
