<body>
  <div class="container">
    <input type="checkbox" id="flip" />
    <div class="cover">
      <div class="front">
        <img
          src="https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29yayUyMGRlc2t8ZW58MHx8MHx8&w=1000&q=80"
          alt=""
        />
      </div>
      <div class="back">
        <img
          class="backImg"
          src="https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29yayUyMGRlc2t8ZW58MHx8MHx8&w=1000&q=80"
          alt=""
        />
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input
                  type="text"
                  placeholder="Enter your email"
                  required
                  formControlName="email"
                />
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                  formControlName="password"
                />
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Submit" />
              </div>
              <div class="text sign-up-text">
                Don't have an account? <label for="flip">Sigup now</label>
              </div>
            </div>
          </form>
        </div>
        <div class="signup-form">
          <div class="title">Signup</div>
          <form [formGroup]="registerformGroup" (ngSubmit)="registerProcess()">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input
                  type="text"
                  placeholder="Enter your name"
                  required
                  formControlName="username"
                />
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input
                  type="text"
                  placeholder="Enter your email"
                  required
                  formControlName="email"
                />
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input
                  type="password"
                  placeholder="Enter your password"
                  required
                  formControlName="password"
                />
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit" />
              </div>
              <div class="text sign-up-text">
                Already have an account? <label for="flip">Login now</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
