<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <!--GOOGLE FONTS-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <div class="major">
    <div class="backdrop"></div>
    <div class="main">
      <div class="small">
        <h1>Travel.</h1>
      </div>
      <div class="small">
        <input class="cont1" type="text" placeholder="Source" />
        <input
          [(ngModel)]="destinationValue"
          class="cont1"
          type="text"
          placeholder="Destination"
        />
        <button class="cont2" type="submit" (click)="searchSubmit()">
          Search
        </button>

        <button
          class="cont2"
          style="background-color: red; margin-left: 300px"
          type="submit"
          (click)="handleLogout()"
        >
          Logout
        </button>
      </div>
    </div>

    <div class="container">
      <div class="head">
        <h1>Love INDIA!</h1>
        <h1>We're going on vacation!</h1>
      </div>
      <div class="para">
        <p>
          Are you ready to embark on an unforgettable journey? Look no further
          than our travel planning website. Whether you're seeking a thrilling
          adventure in the great outdoors or a blissful escape to a tropical
          paradise, we've got you covered. With our user-friendly platform, you
          can effortlessly explore a plethora of destinations, browse through
          curated itineraries, and find the best deals on flights and
          accommodations. Our travel experts have handpicked the most
          captivating attractions and hidden gems, ensuring that your trip is
          filled with amazing experiences. Get ready to make lifelong memories
          as you plan your next adventure with ease and confidence. Let the
          exploration begin!
        </p>
      </div>
    </div>
  </div>

  <div class="cont">
    <h1>Adventure Activities</h1>
  </div>

  <div class="big">
    <div class="big1">
      <div class="tall">
        <img
          src="https://images.pexels.com/photos/14829398/pexels-photo-14829398.jpeg"
          alt=""
        />

        <h3>Paragliding</h3>
        <p>
          Recently introduced to Shri Lanka, this adventure sport is an ideal
          way to indulge yourself...
        </p>
      </div>
    </div>
    <div class="big2">
      <div class="tall">
        <img
          src="https://images.pexels.com/photos/4490702/pexels-photo-4490702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <h3>Helicopter Tours</h3>
        <p>
          Whether you in a packed schedule or hard wasting time on a road or
          simply like to indulge...
        </p>
      </div>
    </div>
    <div class="big3">
      <div class="tall">
        <img
          src="https://images.pexels.com/photos/163314/hot-air-balloon-balloon-sky-hot-air-balloon-ride-163314.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
        <h3>Hot Air Ballooninng</h3>
        <p>
          Why not enjoy this beautiful paradise in bird eye view floating over
          the thick dense fotrest
        </p>
      </div>
    </div>
    <div class="big4">
      <div class="tall">
        <img
          src="https://images.unsplash.com/photo-1554380726-5bd6b17b42e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8anVuZ2xlJTIwc2FmYXJpfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""
        />
        <h3>Wild Life Safari</h3>
        <p>
          With a wild life abundance rich in diversity and quality, Shri Lanka
          promises you...
        </p>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="row">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </div>

      <div class="row">
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Our Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>

      <div class="row">Tourism Website</div>
    </div>
  </footer>
</body>
